[build]
  publish = "public"
  functions = "netlify/functions"

[build.environment]
  NETLIFY_IDENTITY_TOKEN = "true"

[functions]
  node_bundler = "esbuild"

[[redirects]]
  from = "/api/*"
  to = "/.netlify/functions/:splat"
  status = 200

[dev]
  port = 8888
  publish = "public"
  functions = "netlify/functions"
